---
layout: main
---

{% for page in site.pages %}

<article class="post">
  {% if page.image %}
    <a class="post-thumbnail" style="background-image: url({{"/assets/previews/" | prepend: site.baseurl | append : page.image}})" href="{{post.url | prepend: site.baseurl}}"></a>
  {% else %}
  {% endif %}
  <div class="post-content">
    <h2 class="post-title"><a href="{{page.url | prepend: site.baseurl}}">{{page.title}}</a></h2>
    <p>{{ page.description | strip_html | truncatewords: 15 }}</p>
    <span class="post-date">{{ pages.related-pages | size }} related elements</span>
  </div>
</article>

{% endfor %}

{% include pagination.html %}
