---
layout: main
---
<article class="article-page">
  <div class="page-content">
    {% if page.image %}
    <div class="page-cover-image">
      <figure>
        <img class="page-image" src={{ "/assets/img/" | prepend: site.baseurl | append : page.image}} alt="{{page.title}}">
        {% if page.fig-caption %}
          <figcaption>{{page.fig-caption}}</figcaption>
        {% endif %}
      </figure>
    </div> <!-- End Page Cover Image -->
    {% else %}
    {% endif %}

    <div class="wrap-content">
      {% for related-post in page.related-pages %}
        <article class="post">
          {% if related-page.image %}
            <a class="post-thumbnail" style="background-image: url({{"/assets/img/" | prepend: site.baseurl | append : page.image}})" href="{{post.url | prepend: site.baseurl}}"></a>
          {% else %}
          {% endif %}
          <div class="post-content">
            <h2 class="post-title"><a href="{{related-page.url | prepend: site.baseurl}}">{{related-page.title}}</a></h2>
            <p>/filepath/path</p>
            <span class="post-words">Filesize Ko</span>
          </div>
        </article>
      {% endfor %}
    </div>

    <div class="wrap-content">
      <header class="header-page">
        <h1 class="page-title">{{page.title}}</h1>
        <div class="page-date"><span>{{page.date | date: '%Y, %b %d'}}&nbsp;&nbsp;&nbsp;&nbsp;</span></div>
      </header>
      {{content | markdownify}}
      <div class="page-footer">
        <div class="page-share">
          <a href="https://twitter.com/intent/tweet?text={{ page.title }}&url={{ site.url }}{{ page.url }}" title="Share on Twitter" rel="nofollow" target="_blank">Twitter</a>
          <a href="https://facebook.com/sharer.php?u={{ site.url }}{{ page.url }}" title="Share on Facebook" rel="nofollow" target="_blank">Facebook</a>
        </div>
        <div class="page-tag">
          {% for tag in page.tags %}
            <a href="{{site.baseurl}}/tags#{{tag}}" class="tag">&#35; {{ tag }}</a>
          {% endfor %}
        </div>
      </div>
    </div> <!-- End Wrap Content -->
  </div> <!-- End Page Content -->
</article> <!-- End Article Page -->
